
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/bulma/bulma";
@import "jquery-ui";

.thread .subtitle {
    margin-bottom:1em;
    margin-top:-1em;
}

#palsta-tinymce {
    height:300px;
}

.post-meta {
    margin-bottom:0.5em;
}

#meeting-calendar {
    margin-bottom:1em;
}